*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#F2F2F2;
}
a{
    text-decoration: none;
}
h2{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    color: #222222;
}
header,main,footer,nav,aside,section{
    display: block;
}
header{
    width: 100%;
    padding-left: 126px;
    padding-top: 15px;
}

#logo
{
    background-image: url("../images/Starstar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 88px;
    width: 88px;
    display: block;
}
#logo span{
    line-height: 88px;
    padding-left: 110px;
    display: block;
    color: black;
    font-family: 'Fira Sans';
    font-size: 60px;
    width: 188px;
    height: 60px;
}
ul{
    padding-top: 26px;
    padding-left: 129px;
    width: 500px;
    height: 19px;
}
.ul-bottom{
   padding: 0;
   padding-top: 8px;
}

li{
    text-decoration: none;
    margin-right: 24px;
    display: inline;
    list-style-type: none;
}
.li-bottom{
    display: flex;
    list-style-type: none;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 30px;
   
}
.a-nav{
    opacity: 0.3;
    color: #222222;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.a-blue{
    color:#1434E1;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
  
}
.pictures{
    width: 100%;
    padding-top: 43px;
    padding-left: 129px;
}
.pic{
    display: inline;
    padding-right: 30px;
}
.sec1{
    padding-top: 40px;
    padding-left: 129px;
}
.sec2{
    padding-top: 60px;
    padding-left: 129px;
  
}
.sec3{
    padding-left: 129px;
}
p{
    padding-left: 1px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 730px;
    height: 58px;
    color: #222222;
    opacity: 0.7;
}
.span-li{
    padding-top: 17px;
    padding-left: 29px;
    
}

.pic1{
   
    padding-left: 132px; 
}
.pic2{
    padding-left: 447px; 
}